@font-face {
	font-family: 'Prachason Neue Expanded SmBold';
	src: url(../../assets/fonts/PrachasonNeue-ExpandedSemiBold.woff2) format('woff2'),
	url(../../assets/fonts/PrachasonNeue-ExpandedSemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Prachason Neue Expanded SmBold';
	src: url(../../assets/fonts/PrachasonNeue-ExpandedSemiBoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/PrachasonNeue-ExpandedSemiBoldItalic.woff) format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}